@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&family=Orbitron:wght@400;500;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(purple,blue);
    background-repeat: no-repeat;
    
    
}


body .container--cards{
    display: inline-block;
    align-items: center;
    justify-content: center;

    
    
}



.container--cards{
    max-width: 400px;
    margin: 75px;
    
    
    justify-content: center;
    font-family: 'Merriweather', serif;
    font-family: 'Orbitron', sans-serif;
    
    
    
}

.card--father{
    margin:0;
    display: flex;
    

}

.card--father:hover .cards{
    transform: rotateY(180deg);

}

.cards{
    width: 500px;
    height: 650px;
    
    position: relative;
    transform-style: preserve-3d;
    transition:all 600ms;
    border-radius: 20px; 
    
}

.card--front--froggy{
    background-image: url(flexbox-froggy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    background-color: rgb(215, 186, 2);
   

}
.card--front--froggy, .card--back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    top: 0%;
    left: 0%;
    border-radius: 20px; 
    
}

.card--back{
    transform: rotateY(180deg);
    background-color: rgb(22, 197, 209);
}

.body--card--front{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px;
    display: flex;
    color: rgb(12, 184, 211);
    position: relative;
    transform: translateZ(100px); 
    text-shadow: black 2px 2px;
    font-size: 40px;
    
    
}



.body--card--back{
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15%;
    display: flex; 
    position: relative;
    transform: translateZ(100px); 
    font-size: x-large;
    
    
}

.body--card--back input{
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    background-color: blueviolet;
    width: 40%;
    height: 10%;
    color: white;
    font-size: medium;
    bottom: 0%;
    margin-top: 8%;
    box-shadow: 20px;
    
}

.body--card--back p{
    margin: 0px;
}

.card--front--zombies{
    background-image: url(flexzombies.jpeg);
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
    background-color: rgb(241, 4, 4);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    top: 0%;
    left: 0%; 
    border-radius: 20px;   
}
.card--front--GridAttack{
    background-image: url(gridattack.png);
    background-position:center ;
    background-size: 500px;
   
    background-repeat: no-repeat;
    background-color: rgb(245, 225, 3);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    top: 0%;
    left: 0%; 
    border-radius: 20px; 
}
.card--front--Knights{
    background-image: url(knight.jpeg);
    background-position:center ;
    background-size: 500px;
   
    background-repeat: no-repeat;
    background-color: rgb(217, 105, 7);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    top: 0%;
    left: 0%; 
    border-radius: 20px;
}


.card--front--adventure{
    background-image: url(adventurejpeg);
    background-position:center ;
    background-size: 500px;
   
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    top: 0%;
    left: 0%; 
    border-radius: 20px;

}


.card--front--Knights .body--card--front{
    text-shadow: rgb(0, 0, 0) 2px 2px;

}

