@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&display=swap');
body{
    background:linear-gradient(purple,blue);
    justify-content: center;
    height: 1000px;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    
    
    
}
legend{
    font-family: 'Merriweather', serif;
    font-size: xx-large;
    
    
}
.contain--formulario{
    
    max-width: 50%;
}
 
form{
    
    
    
    
} 
form>ol>li{
    list-style-type: none;
    flex-direction: column;
    margin: 15px;
}